.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    background: #F5A017;
    flex-direction: column;

    .header-container {
        display: flex;
        background: #fff;
        padding: 10px 26px;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        justify-content: space-between;
    
        .title {
            color: #000;
            font-size: 26px;
            cursor: pointer;
            font-weight: bold;
        }
    }

    .children-container {
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .children {
            gap: 10px;
            padding: 20px;
            display: flex;
            background: #fff;
            flex-direction: column;

            min-height: 200px;
            min-width: 1000px;
            border-radius: 20px;
        }
    }
}