.button-container {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    height: 40px;
    min-height: 40px;
    max-height: 40px;

    border: none;
    padding: 10px;
    border-radius: 7px;
    background: #F5A017;

    line-height: 1;
    cursor: pointer;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 500;

    &:hover {
        background: #FBBC34;
    }

    &:active {
        color: #000;
    }
}